@import 'smart-grid.less';
.reset();
.wrapper{
    .wrapper();
}
.row{
    .row();
}

html{
    .lg-block({
        font-size: 15px;
    }); 
    .md-block({
        font-size: 13px;
    });
    .sm-block({
        font-size: 11px;
    });
    .xs-block({
        font-size: 9px;
    });
}

@import 'header.less';
@import 'nav.less';