<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/man.css">
    <link rel="stylesheet" href="css/fonts.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="wrapper"> 
            <div class="header">
                <div id="logo">
                    <div class="name">Вояж</div>
                    <div class="opicanie">Тур операторов</div>
                </div>
                <div id="reklama">
                    <span class="word">Звоните:</span>
                    <span class="nomer">+ 7 945 987 452</span>
                </div>
            </div>
        </div>
        <nav>
            <div class="wrapper">
                    <ul class="row">
                        <li><a href="#">Куда поехать</a></li>
                        <li><a href="#">Туристам</a></li>
                        <li><a href="#">Открыть агентство</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Где купить</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>    
            </div>
        </nav>
    </header>
    <nav>
        <div class="wrapper">
            <div class="krectik"> &#xf00d;</div>
            <ul class="row">
                <li><a href="#">Куда поехать</a></li>
                <li><a href="#">Туристам</a></li>
                <li><a href="#">Открыть агентство</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Где купить</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>    
        </div>
    </nav>    
</body>
</html>