<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/man.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="wrapper"> 
            <div class="header">
                <div id="logo">
                    <div class="name">Вояж</div>
                    <div class="opicanie">Тур операторов</div>
                </div>
                <div id="reklama">
                    <span class="word">Звоните:</span>
                    <span class="nomer">+ 7 945 987 452</span>
                </div>
            </div>
        </div>
        <nav>
            <div class="wrapper">
                    <ul class="row">
                        <li><a href="#">Куда поехать</a></li>
                        <li><a href="#">Туристам</a></li>
                        <li><a href="#">Открыть агентство</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Где купить</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>    
            </div>
        </nav>
    </header>
    <nav>
        <div class="wrapper">
            <div class="krectik"> &#xf00d;</div>
            <ul class="row">
                <li><a href="#">Куда поехать</a></li>
                <li><a href="#">Туристам</a></li>
                <li><a href="#">Открыть агентство</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Где купить</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>    
        </div>
    </nav>
    <section>
        <div class="wrapper">
            <div class="row_flex">
                <div class="getaside">&#xf0c9;</div>
                <aside>
                    <div class="countries">
                        <div class="img">Выбор стран</div>
                        <ul class="strans">
                            <li><a href="#">Египет</a></li>
                            <li><a href="#">Греция</a></li>
                            <li><a href="#" class="activ">Кипр</a></li>
                            <li><a href="#">Тунис</a></li>
                            <li><a href="#">ОАЭ</a></li>
                            <li><a href="#">Шри Ланка</a></li>
                            <li><a href="#">Чехия</a></li>
                            <li><a href="#">Мальдивы</a></li>
                            <li><a href="#">Индия</a></li>
                            <li><a href="#">Польша</a></li>
                        </ul>
                    </div>
                    <div class="novost">
                        <div class="name">Новости</div>
                        <div class="full">
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="statia">
                        <div class="name">Статья</div>
                        <div class="full">
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                            <div class="block">
                                <div class="text">
                                    Безметалловая керамика становится доступнее 
                                </div>
                                <a href="#">читать полностью</a>
                            </div>
                            <a href="" class="full_statia">Все статьи</a>
                        </div>
                    </div>
                </aside>
                <article>
                    <div class="name_countries">Кипр.<span> Подарок Афродиты +2%</span></div>
                    <div class="row_flex">
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                        <div class="block">
                            <div class="img"><img src="../img/img_block.png" alt=""></div>
                            <div class="name">Турция</div>
                        </div>
                    </div>
                    <div class="opicanie">
                        <p>
                            Прекрасные отели Кипра, солнечная погода практически в любое время года, 
                            красивейшие пляжи с белоснежным песком, лазурное море, радушие и 
                            гостеприимство местных жителей– все это наполнит каждый день Вашего отдыха комфортом и теплом! 
                        </p>
                        <p>
                            Кроме того, мы поможем Вам в организации свадебной церемонии на Кипре, возьмем на себя весь груз забот, а Вы в это время сможете наслаждаться предсвадебной суетой. Вам останется лишь любить друг друга, готовить свадебные наряды и предвкушать будущее путешествие в райский уголок.
                        </p>
                        <p>
                            Прекрасные отели Кипра, солнечная погода практически в любое время года, красивейшие пляжи с белоснежным песком, лазурное море, радушие и гостеприимство местных жителей – все это наполнит каждый день Вашего отдыха комфортом и теплом! 
                        </p>
                        <p>
                            Кроме того, мы поможем Вам в организации свадебной церемонии на Кипре, возьмем на себя весь груз забот, а Вы в это время сможете наслаждаться предсвадебной суетой. Вам останется лишь любить друг друга, готовить свадебные наряды и предвкушать будущее путешествие в райский уголок.
                        </p>
                        <p>
                            Прекрасные отели Кипра, солнечная погода практически в любое время года, красивейшие пляжи с белоснежным песком, лазурное море, радушие и гостеприимство местных жителей – все это наполнит каждый день Вашего отдыха комфортом и теплом! 
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>    
</body>
</html>