<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/man.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <nav>
        <div class="wrapper">
                <ul class="row">
                    <li><a href="#">Куда поехать</a></li>
                    <li><a href="#">Туристам</a></li>
                    <li><a href="#">Открыть агентство</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Где купить</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>    
        </div>
    </nav>    
</body>
</html>